
* {
    box-sizing: border-box;
}
body {
    background: url("../../assets/images/gaming.png");
    font-family: "Courier New", Helvetica, Serif;
 
}
/* .instructions {
    position: fixed;
    right: 0px;
    padding-right: 80px;


}
.instructions span {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    position: absolute;
    right: 160px;
    top: 7px;
    cursor: pointer;
}
.instructions span:hover {

}

.instructions p {
    width: 210px;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 20px;
    padding-top: 20px;
    visibility: hidden;
} */

.game {
    width: 1200px;
    margin: 50px auto;
    background: #bbf0ff;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    
}

.header .title {
   font-family: 'Amatic SC', cursive;
   font-size: 100px;
   text-align: center;
   letter-spacing: 10px;
   padding-top: 50px;
   color: #fff;
   text-shadow: 3px 3px 0 #3b7ee3,
    -1px -1px 0 #3b7ee3, 
     1px -1px 0 #3b7ee3,
     -1px 1px 0 #3b7ee3,
      1px 1px 0 #3b7ee3;
}


.scores {
    margin: 80px;
    width: 100%;
    text-align: center;
}
.scores h2 {
    font-size: 25px;
    
}


.scores .score {
    width: 33.3%;
    float: left;
}

span {
    font-size: 22px;
    font-weight: bolder;
    color: #fff;
    text-shadow: 1px 1px 0 #3b7ee3,
     -1px -1px 0 #3b7ee3, 
      1px -1px 0 #3b7ee3,
      -1px 1px 0 #3b7ee3,
       1px 1px 0 #3b7ee3;
 }


.scores .score-match {
    width: 33.3%;
    float: left;
  
}
.scores .stats {
    width: 33.3%;
    float: left;
    line-height: 30px;
}
.stats h3 {
    font-size: 20px;
}

.crystals {
    width: 100%; 
    text-align: center;
    padding: 150px 0;
    cursor: pointer;
   
}

.crystals img {
    width: 120px;
    height: 120px;
    margin-left: 50px;
    transition: all 0.3s;
}
.crystals img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.game .restart-btn{
   text-align: center; 
}
button {
    border: none;  
    background: #bbf0ff;
    padding: 10px 0;
    margin-bottom: 30px;
    transition: all 0.3;
    outline: none;
}
.restart-btn h3 {
    font-size: 30px;
    letter-spacing: 6px;
    color: #fff;
    text-shadow: 3px 3px 0 #3b7ee3,
     -1px -1px 0 #3b7ee3, 
      1px -1px 0 #3b7ee3,
      -1px 1px 0 #3b7ee3,
       1px 1px 0 #3b7ee3;
}
button:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

footer {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    background: #D3D3D3;
    padding: 16px 0;
    font-size: 16px;
    letter-spacing: 2px;

}





